.x-bulletins-flex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
  
.x-bulletin {
    display: flex;
    flex-direction: column;
}

.x-bulletin-image {
    max-width: 100%;
    height: auto;
}